.first-main-div-of-Get-notified-you-can
{
  background-color: rgb(163, 135, 140) ;
}
.first-div-of-the-input-type-enter-your-email-address
{
  
    padding-Left: 8rem;
    background-color: rgb(163, 135, 140);
    height: 127px;
    padding-bottom: 25px;
    padding-top: 15px;
    display: flex;
  
}
.second-div-input-type-enter-your-email-address-Get-notified-you-can
{
 display: flex ;
}
.main-div-of-Get-notified-you-can
{
  display: flex;
  /* gap: 15rem; */
}
.div-of-notifying-you-can-and-img-of-light
{
  display: flex;
}
.Get-notified-you-can
{
  padding-left: 8rem;
  margin-top: 45px;
  /* padding-top: 10rem,; */
  background-color: rgb(163, 135, 140);
  height: 6rem;
  font-size: 36px;
  text-align: justify;
 
}

.hanging-lights-in-get-notified
{
width:65px;
height:6px;
padding-top:45px;


}
.image-of-light-lamp
{
  width: 20rem;
    height: 200px;
    padding-left: 14rem;
  
  /* padding-bottom: 25px; */
}



.input-type-enter-your-email-address
{
  padding-left: 28px;
  height: 50px;
  width: 15rem;
  font-size: 15px;
  border: none;
  /* border-radius: 3px; */
  display: flex;
  justify-content: center;
}

.button-start-trial
{
  height: 40px;
  width: 6rem;  
  align-items: center;
background-color: orange;
justify-items: center;
border: none;
color: white;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
}






.outer-border-of-start-trial-button
{
  border: 1px solid black;
  width:105px;
  height: 45px;
  background-color: white;
  border: none;
  padding-top: 7.5px;
  display: flex;
  justify-content: center;
  /* border-radius: 1px; */
}


body{
  background-color: seashell;
}

h4 {
display: block;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

.main-div-of-home-decor-website
{
background-color: seashell;
}


.main-div-of-header-section
{
  display: flex;
  justify-content: center;

}

.width-div-for-decor
{
  width: 75em;
}




@media (min-width:320px) and (max-width:420px)
{
  .width-div-for-decor
  {
    width: 100%;
  }
  .main-div-of-header-section
  {
    display: block;
  }

  .first-div-of-the-input-type-enter-your-email-address
  {
    display: block;
    padding-left: 0px;
  }
  .second-div-input-type-enter-your-email-address-Get-notified-you-can
  {
    display: block;
    padding-top: 155px;
    padding-left: 15px;
  }
  .main-div-of-Get-notified-you-can
  {
    display: block;
  }
  .input-type-enter-your-email-address
  {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .outer-border-of-start-trial-button
  {
    display: block;
    width: 100%;
  }
  .hanging-lights-in-get-notified
  {
    width: 100%;
    padding-top: 0px;
  }

  .image-of-light-lamp
  {
    width: 100%;
    padding-left: 0;
  }

  .button-start-trial
  {
    width: 100%;
  }
  .Get-notified-you-can
  {
    padding-left: 1rem;
    margin-top: 0px;
    background-color: rgb(163, 135, 140);
    height: 6rem;
    font-size: 32px;
    text-align: justify;
  }

  .div-of-notifying-you-can-and-img-of-light
  {
    display: block;
    padding-bottom: 38px;
    padding-top: 30px;
  }
}
